@media only screen and (min-device-width: 1200px) {
  [id] {
    scroll-margin-top: 15ex;
  }

  p {
    margin: 2% 0;
  }

  section {
    margin-top: 0;
  }

  /* Navbar */

  .nav__compressed {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 100px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0%;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
  }

  div.mobile {
    display: flex;
    flex-direction: column;
  }

  div.mobile button {
    display: none;
  }

  ul.compressed {
    opacity: 1;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    margin-right: 2%;
    gap: 1rem;
  }

  ul.compressed li a {
    padding: 0%;
  }

  a.nav_menu_item {
    text-align: center;
  }

  ul.compressed li {
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    padding: 1%;
    width: 107%;
  }
  ul.compressed li a {
    position: relative;
    z-index: 999;
    padding: 3%;
    transition: all ease-in-out 0.25s;
  }

  ul.compressed li a:hover,
  ul.compressed li a:focus {
    color: #000;
    transition: all ease-in-out 0.25s;
  }

  ul.compressed li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #ff9c00;
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: all ease-in-out 0.25s;
  }

  ul.compressed li a:hover:after,
  ul.compressed li a:focus:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: all ease-in-out 0.25s;
  }

  ul.compressed li a.active:after {
    opacity: 1 !important;
    visibility: visible !important;
    height: 100% !important;
    transition: all ease-in-out 0.25s !important;
  }

  /* HERO Section */

  #hero__section {
    height: 100vh;
    background-image: url("../assets/images/dali-hero.jpg");
    background-size: cover;
    background-position: top;
  }

  .hero_sub_text {
    display: block !important;
    font-size: 2.5rem !important;
    text-align: left !important;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1%;
  }

  .tagline-container__div {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(0%, -50%);
    line-height: 350%;
    padding: 1%;
    border-radius: 8px;
  }

  .tagline-container__div p,
  .tagline-container__span {
    font-size: 5rem;
    text-align: left !important;
  }

  .tagline-container__div p {
    margin-bottom: 0px !important;
  }

  .tagline__p {
    margin: 3% 0;
  }

  /* Testimonials */

  .testimonial__item {
    height: 40vh;
    margin: 2.5% 0;
  }

  /* Clients */
  .clients_wrapper__div {
    margin-top: 0%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  .logo__item {
    width: 50%;
  }

  /* Contact Section */

  #contact-form input {
    height: 4rem;
    width: 60%;
  }

  #contact-form textarea {
    height: 10rem;
    width: 60%;
  }

  /* Footer */

  #footer {
    height: 8vh;
  }
}
