@media only screen and (min-device-width: 214px) {
  /* Fonts */
  @font-face {
    font-family: "GothamBold";
    src: url("../assets/fonts/gotham/Gotham-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "GothamRegular";
    src: url("../assets/fonts/gotham/Gotham-Medium.otf") format("opentype");
  }

  h1, h2, h3, .tagline-container__div > p, .tagline-container__div > span, .nav_menu_item {
    font-family: "GothamBold", sans-serif !important;
  }

  p, li, a, blockquote, label, button, input, legend, textarea, button, #message-container {
    font-family: "GothamRegular", sans-serif !important;
  }

  h1 {
    font-size: 3.5em;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  h1,
  h2 {
    text-decoration: underline;
    text-decoration-color: #d6584f;
    text-decoration-thickness: 1.5rem;
    text-underline-offset: -1.5rem;
    margin-bottom: 2%;
    text-decoration-skip-ink: none;
  }

  h3 {
    font-size: 2em;
  }

  p, legend, button {
    margin: 3% 0;
  }

  p,
  span,
  a,
  blockquote,
  label,
  legend,
  button,
  #message-container {
    font-size: 1.25rem;
  }

  [id] {
    scroll-margin-top: 10ex;
  }

  /* PAGE WRAPPER */
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0;
  }

  .wrapper > * {
    grid-column: 1 / -1 !important;
    grid-row: auto !important;
  }

  /* NAV BAR*/
  nav {
    background-color: #fff;
    padding: 1%;
    position: fixed;
    z-index: 1000;
  }

  .nav__compressed {
    transition: all ease-in-out 0.25s;
    height: 60px;
  }

  .nav__expanded {
    transition: all ease-in-out 0.25s;
    height: 175px;
  }

  nav a {
    color: #000;
    text-decoration: none;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.75rem;
    margin-top: 5%;
  }
  nav li {
    margin-bottom: 1.5%;
    text-align: center;
  }

  nav ul:after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 2%;
    width: 100%;
    background-color: #d6584f;
    margin-right: 2%;
    opacity: 1;
  }


  ul.compressed {
    opacity: 0;
    height: 0px;
    transition: all ease-in-out 0.15s;
  }
  ul.expanded {
    opacity: 1;
    height: max-content;
    transition: all ease-in-out 0.7s;
  }
  .mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .nav_logo__img {
    width: 100%;
    height: auto;
  }
  .menu_button {
    background-color: transparent;
    border: solid 1px #000;
    border-radius: 3px;
    color: #000;
    padding: 3%;
    width: 65%;
    height: 50%;
  }

  section {
    margin-top: 2.5%;
    padding: 2.5%;
    position: relative;
  }

  /* HERO SECTION */
  #hero__section {
    height: 75vh;
    margin-top: 0px;
    background-image: url("../assets/images/hero_dali2.jpg");
    background-size: 120%;
    background-position: top;
  }

  .hidden__h1 {
    display: none;
  }

  .tagline-container__div {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%, -53%);
    line-height: 350%;
    padding: 1%;
    border-radius: 8px;
  }

  .tagline-container__div p,
  .tagline-container__span {
    font-size: 2.75rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .tagline-container__span {
    text-decoration: underline;
    text-decoration-thickness: 1ex;
    text-underline-offset: -1ex;
    text-decoration-skip-ink: none;
    text-decoration-color: #d6584f;
  }

  .tagline__p {
    font-size: 2rem;
    margin: 5% 0;
  }

  .hero_sub_text {
    display: none !important;
  }

  /* About */
  #about__section {
    margin-top: 0px !important;
    background-color: whitesmoke;
  }


  /* SERVICES */
  #services__section > * {
    color: #000 !important;
  }

  .about_services__div ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .about_services__div ul li {
    padding: 2.5%;
    font-size: 1.25rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #000;
    z-index: 1;
  }

  .icon__container {
    padding: 2.5%;
    font-size: 1.15rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;   
  }

  .icon__container .icon__item {
    text-align: center;
    margin-top: 10%;
    border-right: solid 5px whitesmoke;
    border-bottom: solid 5px whitesmoke;
  }
  /* Portfolio */

  #portfolio__section {
    background-color: whitesmoke;
  }

  .images__wrapper {
    column-count: 2;
    column-gap: 0.5em !important;
  }

  .image__item:nth-child(n + 2) {
    margin-top: 1em;
  }

  .image__item {
    box-sizing: border-box;
    break-inside: avoid;
    overflow: hidden;
  }

  .image__item img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    transition: all ease-in-out 0.25s;
  }

  .image__item:hover,
  .image__item:focus {
    transition: all ease-in-out 0.25s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
  }

  .image__item:hover img,
  .image__item:focus img {
    transition: all ease-in-out 0.25s;
    transform: scale(1.1);
  }

  /* Testimonials */
  .testimonial__item {
    padding: 2%;
    margin: 10% 0px;
    background-color: ghostwhite;
    border-left: 6px solid #d6584f;
    line-height: 1.4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .testimonial__item blockquote p {
    font-style: italic;
    color: #000;
    padding: 1% 1% 1% 3%;
    
  }

  .attribution {
    font-weight: bold;
    font-size: 1rem;
  }

  blockquote p::before {
    content: "\275D ";
    color: grey;
    font-size: 2em;
    position: relative;
    padding: 0px 10px 0px 0px;
  }

  /* Clients */

  #clients__section {
    background-color: whitesmoke;
  }

  .clients_wrapper__div {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    gap: 3em;
  }

  .logo__wrapper {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }

  .logo__item {
    width: 75%;
    height: auto;
  }

  /* Contact Section */

  #contact-form {
    margin-top:5%;
  }

  #contact-form input {
    margin: 2.5% 0%;
    border-radius: 3px;
    height: 2.5rem;
    width: 75%;
  }

  #contact-form textarea {
    margin: 2.5% 0%;
    border-radius: 3px;
    border: solid 2px #000;
    height: 6rem;
    width: 75%;
  }

  .button-wrapper button {
    height: 3rem;
    border-radius: 3px;
    border: solid 2px #000;
    background-color: #fff;
    transition: all 0.25s;
  }

  .button-wrapper button:hover,
  .button-wrapper button:focus {
    background-color: #d6584f;
    color: #fff;
    transition: all 0.25s;
  }
 
  /* Footer */
  #footer {
    border-top: 1px solid black;
    background-color: whitesmoke;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .copyright {
    font-size: 1.1em;
    margin-left: 2.5%;
  }

  .sm__link {
    margin-left: 2.5%;
    margin-top: 1.5%;
  }
}
