@media only screen and (min-device-width: 1024px) {
  h2 {
    font-size: 3.5em;
  }

  p,
  span,
  a,
  blockquote {
    font-size: 2rem;
  }

  [id] {
    scroll-margin-top: 25ex;
  }

  /* NAV BAR */
  .nav__compressed {
    transition: all ease-in-out 0.25s;
    height: 180px;
    width: 100%;
  }

  .nav__expanded {
    transition: all ease-in-out 0.25s;
    width: 100%;
    height: 370px;
  }

  .menu_button {
    font-size: 2.25em !important;
  }

  /* Hero */

  #hero__section {
    height: 95vh;
  }

  .tagline-container__div p {
    margin-bottom: 6% !important;
  }

  .tagline-container__div p,
  .tagline-container__span {
    font-size: 7rem;
  }

  /*  About  */

  .tagline__p__second {
    font-size: 2rem;
    margin: 5% 0%;
  }

  .about__img {
    max-width: 75%;
  }

  /* Services */

  .icon__container__paragraph {
    font-size: 2.5rem !important;
  }

  .lumen__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  /* Testimonials */

  .testimonial__item {
    height: 20vh;
  }

  .testimonial__item-span {
    font-size: 1.5rem;
  }

  /* Clients */

  .clients_wrapper__div {
    gap: 3rem;
  }

  /* Footer */

  #footer svg {
    height: 64px;
    width: 64px;
  }


  .follow {
    margin: 2.5% 1.5%;
  }

  .sm__link {
    margin: 2% 1.5%;
  }
}
