@media only screen and (min-device-width: 600px) {
  h2 {
    font-size: 3.5em;
  }

  p,
  span,
  a,
  blockquote {
    font-size: 1.5rem;
  }

  [id] {
    scroll-margin-top: 20ex;
  }

  /* NAV BAR */
  nav {
    position: fixed;
    height: 5vh;
  }

  .nav__compressed {
    transition: all ease-in-out 0.25s;
    height: 120px;
    width: 100%;
  }

  .nav__expanded {
    transition: all ease-in-out 0.25s;
    width: 100%;
    height: 275px;
  }

  /* HERO SECTION */
  #hero__section {
    background-size: cover;
    background-position: top;
  }

  .tagline-container__div {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -40%);
  }

  .tagline-container__div p,
  .tagline-container__span {
    font-size: 5rem;
  }

  .tagline__p {
    font-size: 2rem;
  }

  /* About */
  .about_services__div ul li {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .about_services__div ul li a {
    padding-left: 1%;
  }

  .about_services__div ul li:after {
    height: 8%;
  }

  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .about__img {
    display: flex;
    margin: auto;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 100%;
  }

  /* Services */

  .icon__container {
    font-size: 1.15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .icon__container p {
    font-size: 2rem;
}

  .printed__ink__icon {
    height: 25% !important;
  }

  /* Portfolio */
  .images__wrapper {
    column-count: 3;
    column-gap: 0;
  }

  /* Testimonials */
  .attribution {
    font-size: 1.25rem;
  }

  .testimonial__item {
    height: 20vh;
    padding: 1%;
    margin: 5% 0px 2.5% 0px;
    background-color: ghostwhite;
    line-height: 1.1;
  }

  .testimonials__prevnext button {
    width: 7rem;
  }

  .bullets {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .bullets button {
    margin: 0% 1%;
    width: 2rem;
  }

  /* Clients */
  .clients_wrapper__div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    place-items: center;
    gap: 1em;
  }

  .logo__item {
    width: 65%;
    height: auto;
  }

  .gsk__logo {
    width: 40%;
  }

  /*  Footer */

  #footer {
    height: 12vh;
    justify-content: flex-end;
  }

  #footer svg {
    height: 48px;
    width: 48px;
  }

  .follow {
    color: #ff9c00;
    font-size: 1.1em;
    margin: 1.5% 1.5%;
  }
}
